<table class="ui table">
    <thead>
        <tr>
            <th>#</th>
            <th>Posted By</th>
            <th>Timestamp</th>
            <th>Account</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Status</th>
            <th class="three wide">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in cashbook | orderBy : '+id'">
            <td>{{ row.id }}</td>
            <td>{{ row.postedBy }}</td>
            <td>{{ row.datetime }}</td>
            <td>{{ row.giverName }} <i class="icon right arrow"></i> {{ row.receiverName }} </td>
            <td>{{ row.description }}</td>
            <td>{{ row.amount }}</td>
            <td>{{ row.status }}</td>
            <td>
                <button class="ui mini green icon button" ng-click="approveEntry(row)">
                    <i class="checkmark icon"></i>
                </button>
                <button class="ui mini red icon button" ng-click="rejectEntry(row)">
                    <i class="icon remove"></i>
                </button>
                <button class="ui mini blue icon button" ng-click="editEntry(row)">
                    <i class="edit icon"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>