<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="node_modules\angular\angular.js"></script>
</head>
<body>
    <div ng-app="DemoApp">
        <div ng-controller="DemoController">
            {{ title }}

            <textarea name="" id="" cols="30" rows="10" ng-model="output"></textarea>
            <button ng-click="sendRequest()">Send Request</button>
        </div>
    </div>
</body>
    <script>
        var app = angular.module('DemoApp', []);


        app.controller('DemoController', function($scope, $http){
            $scope.title = "Hello World";

            $scope.output = "";

            $scope.sendRequest = function(){
                var request = {
                queryType : "chain",
                requests : [
                    {
                        queryType : 'select',
                        tableName : 'user'
                    },
                    {
                        queryType : 'insert',
                        tableName : 'product',
                        params: {
                            columnNames : ['id'],
                            userData : {id : 'lastInsertId'}
                        }
                    }
                ]};



                $http.post("core/php/sql2.php", request )

                .then(function(response){
                    console.log(response);
                });
            }
        });
    </script>
</html>