<button ng-show="step > 1" class="ui labeled icon fluid button" ng-click="goBack()">
    <i class="icon left arrow"></i>
    Go Back
</button>

<div class="ui stackable vertical fluid menu" ng-show="step==1">
    <div class="header item" ng-init="refreshCategories()">Select Category
        <i class="icon refresh" ng-click="refreshCategories()"></i>
    </div>
    <a class="ui item" ng-repeat="category in categories" ng-click="selectCategory(category)">
        {{ category.name }}
        <div class="ui circular blue label">{{ category.usageToday }}</div>
    </a>
</div>


<div class="ui form segment" ng-show="step==2">

    <div class="ui header">Enter Customer Details</div>
    <div class="ui required field">
        <label for="customerName">Customer Name</label>
        <div class="ui fluid input">
            <input type="text" ng-model="task.customerName" tabindex="1">
        </div>
    </div>

    <div class="ui required field">
        <label for="amount">Amount Collected</label>
        <div class="ui fluid input">
            <input type="number" min="0" step="0.01" ng-model="task.amountCollected" tabindex="2">
        </div>
    </div>

    <div class="ui field">
        <label for="remark">Remark</label>
        <div class="ui fluid input">
            <textarea rows="3" ng-model="task.remark" tabindex="3"></textarea>
        </div>
    </div>

    <div class="ui two fields">
        <div class="ui field">
            <div class="ui checkbox">
                <input type="checkbox" ng-model="requireSeperateEntry">
                <label for="requireSeperateEntry">Bank Payment</label>
            </div>
        </div>
        <div class="ui field">
            <div class="ui checkbox">
                <input type="checkbox" ng-model="task.paid">
                <label for="requireSeperateEntry">Paid</label>
            </div>
        </div>
    </div>


    <button tabindex="5" class="ui labeled icon fluid button" ng-show="task.customerName.length > 3" ng-click="preview()">
        <i class="icon right arrow"></i>
        Next
    </button>

</div>

<div class="ui form segment" ng-show="step==3">
    <div class="required field">
        <label for="giver">From Account</label>
        <div class="input">
            <select ng-options="option.name for option in accounts track by option.id" ng-model="cashbook.giver" class="ui fluid search selection dropdown">
            </select>
        </div>
    </div>

    <div class="required field">
        <label for="receiver">To Account</label>
        <div class="input">
            <select ng-init="initDropdown()" ng-options="option.name for option in accounts track by option.id"
                ng-model="cashbook.receiver" class="ui fluid search selection dropdown">
            </select>
        </div>
    </div>
    <div class="required field">
        <label for="amount">Payment Through Bank</label>
        <div class="ui fluid input">
            <input type="number" min="0" step="0.01" ng-model="cashbook.amount">
        </div>
    </div>

    <button tabindex="5" ng-show="cashbook.amount > 0" class="ui labeled icon fluid button" ng-click="preview()">
        <i class="icon right arrow"></i>
        Next
    </button>

</div>

<div class="ui segment" ng-show="step==4">
    <div class="ui divided list">
        <div class="item">
            <div class="content">
                <div class="header">{{ task.customerName }}</div>
                Customer Name
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="header">{{ task.selectedCategory.name }}</div>
                Category
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="header">{{ task.amountCollected }}</div>
                Amount Collected
            </div>
        </div>
    </div>

    <div class="ui two fluid buttons">
        <button class="ui green button" ng-click="submitData()">
            Save
        </button>
        <div class="or"></div>
        <button class="ui blue button" ng-click="submitData(true)">
            Approve
        </button>
    </div>

</div>