<div ng-controller="TabController">
    <div class="ui top attached tabular menu">
        <a class="item" ng-click="setTab('operator.html')" ng-class="getClass('operator.html')" ng-init="initUrl='operator.html'">Operator</a>
        <a class="item" ng-click="setTab('product.html')" ng-class="getClass('product.html')">Product</a>
        <a class="item" ng-click="setTab('cashbook.html')" ng-class="getClass('cashbook.html')">Cashbook</a>
        <a class="item" ng-click="setTab('task.html')" ng-class="getClass('task.html')">Task</a>
    </div>
    <div class="ui bottom attached segment" ng-include="tabUrl" ng-init="baseUrl='core/components/admin/'">
    
    </div>
</div>