<div class="ui form segment">
    <div class="ui header">
        Create Note
    </div>
    <div class="field">
        <label for="amount">Amount</label>
        <div class="ui input">
            <input type="number" name="amount" ng-model="amount">
        </div>
    </div>
    <div class="field">
        <label for="description">Description</label>
        <div class="ui input">
            <input type="text" name="description" ng-model="description">
        </div>
    </div>

    <button class="ui green fluid button" ng-click="save()">
        Submit
    </button>
</div>