
    <button class="ui labeled icon fluid button" ng-click="goBack()" ng-hide="step == 1">
        <i class="icon left arrow"></i>
        Go Back
    </button>

    <div class="ui bottom attached vertical fluid menu" ng-show="step==1">
        <div class="header item">Select Category</div>
        <a 
        class="ui item" 
        ng-repeat="category in categories" 
        ng-click="selectCategory(category)">
            {{ category.name }}
            <div class="ui circular blue label">{{ category.usageToday }}</div>
        </a>
    </div>


    <div class="ui form segment" ng-show="step==2">
        <div class="ui header">Enter Customer Details</div>
        <div class="ui required field">
            <label for="customerName">Customer Name</label>
            <div class="ui fluid input">
                <input type="text" ng-model="customerName">
            </div>
        </div>

        <div class="ui required field">
            <label for="amount">Amount Collected</label>
            <div class="ui fluid input">
                <input type="text" ng-model="amountCollected">
            </div>
        </div>

        <div class="ui field">
            <label for="remark">Remark</label>
            <div class="ui fluid input">
                <textarea rows="3" ng-model="remark"></textarea>
            </div>
        </div>


        <div 
        class="ui labeled icon fluid button" 
        ng-show="customerName.length > 3" 
        ng-click="preview()">
            <i class="icon right arrow"></i>
            Next
        </div>


    </div>

    <div class="ui segment" ng-show="step==3">
        <div class="ui divided list">
            <div class="item">
                <div class="content">
                    <div class="header">{{ customerName }}</div>
                    Customer Name
                </div>  
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">{{ selectedCategory.name }}</div>
                    Category
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">{{ amountCollected }}</div>
                    Amount Collected 
                </div>
            </div>
        </div>

        <div class="action">

            <div class="ui fluid labeled icon green button" ng-click="submitData()">
                <i class="icon checkmark"></i>
                Submit
            </div>
        </div>

    </div>
