<div class="ui bottom attached stackable inverted blue menu">
    <a 
    class="item" 
    ng-repeat="item in menuItems"
    ng-class="getClass('{{item.url}}')"
    ng-href="/q2/{{ item.url}}">
        <i 
        class="icon" 
        ng-class="item.icon"></i>

        {{ item.title }}
    </a>

    <div class="ui right dropdown item">
        Hello {{ user.name }}
        <i class="dropdown icon"></i>
        <div ng-init="initDropdown()" class="menu">
            <div 
            class="item"
            ng-click="logout()"
            ng-show="user.isLoggedIn" 
            href="logout">
                Logout
            </div>

            <a 
            class="item"
            href="/q2/login"
            ng-hide="user.isLoggedIn"
            href="login">
                Login
            </a>
        </div>
    </div>
</div>