<table class="ui center aligned celled striped table segment">
    <thead class="ui small header">
        <tr>
            <td>Product Name</td>
            <td>Quantity</td>
            <td>Amount</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in data.transactions">
            <td>{{ product.name }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.amount }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                <button class="ui fluid button" ng-click="refresh()">Refresh</button>
            </td>
        </tr>
    </tfoot>
</table>