<div class="ui stackable doubling cards">
    <div class="card" ng-repeat="task in taskList">
        <div class="ui red ribbon label">
            {{ task.id }}
        </div>
        <div class="content">
            <div class="header">{{ task.customer }}</div>
            <div class="meta">
                {{ task.jobType }}
            </div>
            <div class="desctiption">
                Insert Time : {{ task.insertTime }} Remark : {{ remark }}
            </div>
            <div class="extra content">
                <div class="ui three buttons">
                    <button class="ui green button">Completed</button>
                    <button class="ui orange button">Unmark</button>
                    <button class="ui red button">Reject</button>
                </div>
            </div>
        </div>
    </div>
</div>