<div class="ui form segment" ng-init="getProducts()">
    <div class="ui header">
        Product Usage Form
        <a class="ui top right attached blue label" ng-click="getProducts()">
            Refresh
        </a>
    </div>

    <div class="ui field">
        <label for="description">Description</label>
        <div class="input">
            <input type="text" name="description" ng-model="transaction.description">
        </div>
    </div>

    <div class="ui field">
        <label for="productName">Product</label>
        <select class="ui fluid search selection dropdown" ng-model="transaction.product" ng-options="option.name for option in products track by option.id"></select>
    </div>

    <div class="ui two fields">
        <div class="ui field">
            <label for="amount">Amount</label>
            <div class="input">
                <input type="number" name="amount" min="0" ng-model="transaction.amount">
            </div>
        </div>

        <div class="ui field">
            <label for="amount">Quantity</label>
            <div class="input">
                <input type="number" name="quantity" min="0" ng-model="transaction.quantity">
            </div>
        </div>
    </div>


    <button class="ui green fluid button" ng-click="insertRecord()" ng-show="transaction.description.length >= 3">Submit</button>

</div>